.bottomButtonWrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.topButtonWrapper {
  position: absolute;
  top: 20px;
  right: 8px;
  z-index: 1000;
}

.topButtonWrapper .btn-custom-round-icon {
  font-size: large !important;
}

.imageWidget {
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 1000;
  width: 400px;

  background-color: var(--color-white);

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: var(--color-dark) 1px solid;

  animation: 0.2s ease-out 0s 1 fadeIn;
  transition: all 0.3s;
}

.mergeWidget {
  position: absolute;
  top: 70px;
  right: 8px;
  z-index: 1000;
  width: 600px;

  background-color: var(--color-white);

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: var(--color-dark) 1px solid;

  animation: 0.2s ease-out 0s 1 fadeIn;
  transition: all 0.3s;
}
