.wrapper-bottom-left {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;

  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
}

.wrapper-bottom-right {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;

  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.wrapper-top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: absolute;
  top: 20px;
  right: 8px;
  z-index: 1000;
}

.custom-widget {
  background-color: var(--color-white);

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: var(--color-dark) 1px solid;

  animation: 0.2s ease-out 0s 1 fadeIn;
  transition: all 0.3s;
}

.imageWidget {
  width: 400px;
  margin-bottom: 1rem;
}

.mergeWidget {
  width: 600px;
  margin-top: 1rem;
}

.starredWidget {
  width: 400px;
  margin-bottom: 1rem;
}
